* {
    box-sizing: border-box;
  }


  @font-face {
    font-family:arcade;
    src: url(./font/arcade/ARCADE.TTF);
  }
  /* div{
    position: relative;
  } */

/* h1{
justify-content: center;
    flex-direction: column;
  margin: auto;
  position: absolute;
  font-size: 100px;
  font-family: arcade;
  text-align: center;
  
}

h2{
    z-index: 1;
    position: absolute;
    font-size: 100px;
    font-family: arcade;
    text-align: center;
    
  } */


  /* body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: radial-gradient(rgba(#7600bf, 0.5) 0%, transparent 70%), linear-gradient(#0b161e 40%, #202076 70%);
    perspective: 700px;
    font-size: clamp(10px, 2vw, 20px);
  }

  .lines {
    color: #59c1fe;
    position: fixed;
    width: 100vw;
    height: 4em;
    background: linear-gradient(rgba(#7600bf, 0.5) 0%, transparent 70%), linear-gradient(#0b161e 40%, #202076 70%);
    background-size:1px;
    box-shadow:0 0 1em rgba(color, 0.4);
    transform:translateY(-1em);
    left: 0;
  }
  

  h1{
    position: relative;
    font-family: arcade;
    font-size: 9em;
    margin: 0;
    transform: skew(-15deg);
    letter-spacing: 0.03em;
  }

  h1::after {
    content: '';
    position: absolute;
    top: -0.1em;
    right: 0.05em;
    width: 0.4em;
    height: 0.4em;
    background: 
      radial-gradient(white 3%, rgba(white, 0.3) 15%, rgba(white, 0.05) 60%, transparent 80%),
      radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 5% 100%,
      radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 70% 5%;
    background-repeat: no-repeat;
  }
  span:first-child {
    display: block;
    text-shadow: 0 0 0.1em #8ba2d0, 0 0 0.2em black,  0 0 5em #165ff3;
    -webkit-text-stroke: 0.06em rgba(black, 0.5);
  }
  
  span:last-child {
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(#032d50 25%, #00a1ef 35%, white 50%, #20125f 50%, #8313e7 55%, #ff61af 75%);
    -webkit-text-stroke: 0.01em #94a0b9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2 {
    font-family: arcade;
    margin: 0;
    font-size: 5.5em;
    margin-top: -0.6em;
    color: white;
    text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
    transform: rotate(-7deg);
  }

   */



/*/////////////////////////////////////// SPACE ///////////////////////////////////*/








body, html {
	margin-top: 60px;
	padding: 0;
	height: 100vh;
	display: grid;
	background-color: rgb(66, 53, 105);
	background: url(https://images.unsplash.com/photo-1464802686167-b939a6910659?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNzA1NDI1MQ&ixlib=rb-1.2.1&q=85);
	background-attachment: fixed;
	background-size: cover;
}


p{
	position: relative;
	margin: auto;
	font-size: 8rem;
}

p i{
	position: absolute;
	top: -0.8em;
	display: block;
	width: 100%;
	font-family: arcade;
	font-size: 9rem;
	text-align: center;
	color: rgb(255, 0, 140);
	z-index: 90;
}

p i:before {
	content: "SPACE";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	text-align: center;
    background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 0, 140, 1) 50%,
		rgba(255, 255, 255, 1) 75%,
		rgba(134, 231, 236, 1) 100%
	);
	-webkit-text-stroke: 0.3rem transparent;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	filter: drop-shadow(0.2rem 0.2rem 0 rgba(255, 0, 140, 0.75))
		drop-shadow(0.2rem 0.2rem 0.1rem rgb(0, 0, 0))
		drop-shadow(0.1rem 0.1rem 0.5rem rgb(0, 0, 255));
	z-index: 1;
}

p b{
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	font-family: arcade;
	color: transparent;
	z-index: 100;
}

p b:before {
	content: "INVADERS";
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 0, 140, 1) 25%,
		rgba(53, 29, 108, 1) 49%,
		rgba(255, 255, 255, 1) 50%,
		rgba(134, 231, 236, 1) 75%,
		rgba(112, 80, 211, 1) 100%
	);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	z-index: 1;
}

p b:after {
	content: "INVADERS";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	text-align: center;
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 0, 140, 1) 50%,
		rgba(255, 255, 255, 1) 75%,
		rgba(134, 231, 236, 1) 100%
	);
	-webkit-text-stroke: 0.3rem transparent;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	filter: drop-shadow(0.2rem 0.2rem 0 rgba(255, 0, 140, 0.75))
		drop-shadow(0.2rem 0.2rem 0.1rem rgb(0, 0, 0))
		drop-shadow(0.1rem 0.1rem 0.5rem rgb(0, 0, 255));
	z-index: 0;
}



button{  
    border-style: none;
    background-color: transparent;
    position: relative;
	margin: auto;
	font-size: 70px;
}

button i {
    margin: auto;
	position:relative; 
	display: block; 
	width: 200px;
	font-family: arcade;
	text-align: center;
	/* color: rgb(255, 0, 140); */
    color: rgb(0, 255, 64);
	z-index: 90;
}

/* button b {
	position: relative;
	display: block;
	width: 200px;
	text-align: center;
	font-family: arcade;
	color: transparent;
	z-index: 100;
} */

button i:before {
	content: "BEGIN";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 200px;
	text-align: center;
    background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 0, 140, 1) 50%,
		rgba(255, 255, 255, 1) 75%,
		rgba(134, 231, 236, 1) 100%

        /* rgb(248, 3, 3) 0%,
		rgb(25, 11, 153) 50%,
		rgb(250, 246, 246) 75%,
		rgb(218, 171, 20) 100% */
	);
	-webkit-text-stroke: 0.3rem transparent;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	filter: 
        drop-shadow(0.2rem 0.2rem 0 rgba(255, 0, 140, 0.75))
		drop-shadow(0.2rem 0.2rem 0.1rem rgb(0, 0, 0))
		drop-shadow(0.1rem 0.1rem 0.5rem rgb(0, 0, 255));
        
        /* drop-shadow(0.2rem 0.2rem 0 rgba(38, 0, 255, 0.75))
		drop-shadow(0.2rem 0.2rem 0.1rem rgb(245, 243, 243))
		drop-shadow(0.1rem 0.1rem 0.5rem rgb(4, 4, 241)); */
	z-index: 1;
}



button:hover{
	filter: 
        drop-shadow(0.2rem 0.2rem 0 rgba(0, 0, 255)) 
		/* drop-shadow(0.2rem 0.2rem 0.1rem rgb(0, 0, 0)) */
		drop-shadow(0.1rem 0.1rem 0.5rem rgba(255, 0, 140, 0.973));
}

/* //////HOVER button;  */



