* {
    box-sizing: border-box;
  }
  @font-face {
    font-family:arcade;
    src: url(./font/arcade/ARCADE.TTF);
  }
@keyframes space {
    0%{
        background: -webkit-linear-gradient(blue, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    text-shadow: 10px 0px 0px royalblue;
    }

    50%{
        
            background: -webkit-linear-gradient(red, yellow);
       -webkit-background-clip: text;
       -webkit-text-fill-color:transparent;
       text-shadow: 0px 7px 0px pink;
       
    }

    100%{
         background: -webkit-linear-gradient(red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    text-shadow: 0px 0px 10px rgb(241, 41, 41);
    }
}

@keyframes spaceAlien{
      0%{
        background-image: url(./png/alien-pixelated-shape-of-a-digital-game\ \(4\).png);
        /* box-shadow: 0px 5px 0px purple; */

      }
      20%{
        background-image: url(./png/alien-pixelated-shape-of-a-digital-game\ \(4\).png);
        /* box-shadow: 0px 5px 0px  purple; */
      }
      50%{
        background-image: url(./png/pixelated-alien\ \(3\).png);
        /* background-image: url(./png/space-game-character-of-pixels\ \(4\).png); */
        /* box-shadow:  0px 5px 0px  purple */
      }
      100%{
        /* background-image: url(./png/pixelated-alien\ \(3\).png); */
        background-image: url(./png/space-game-character-of-pixels\ \(4\).png);
        /* box-shadow:  0px 5px 0px  purple */
      }
}

body{
    background-image:url(./images/10927257.png);
    background-attachment: fixed;
}



  h1 {
    font-size: 72px;
    -webkit-text-fill-color:transparent;
    margin-top: 30px;
    text-align: center;
    font-family: 'Common Pixel', sans-serif;
    animation-name: space;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }


.box{
    /* background-image: url(./images/bg_02_h.png); */
    /* background-image: url(./images/t5e60874a213cf.jpg); */
    background-image: url(./images/1e64c3289a248160c26a3b57b221e282.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 430px;
    height: 450px;
    border: 2px solid rgb(197, 15, 173);
    border-radius: 3%;
    margin: auto;
    margin-top: 60px;
    /* box-shadow: 0px 0px 100px  rgb(121, 3, 121); */
    box-shadow: 0px 0px 100px rgb(197, 15, 173);
    display: flex;
    flex-wrap: wrap;
}

.box div{
    margin: auto;
    width: 30px;
    height: 30px;
}

.alien{
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: spaceAlien;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.ship{
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(./png/space-invaders\ \(2\).png);
}


.bullet{
  /* background-color: red; */
  background-image: url(./png/bullets\ \(1\).png);
  background-repeat: no-repeat;
  background-position: center;
}

.scoreBoard{
  margin-left: 20px;
  color: red;
  font-size: 45px;
  position: absolute;
	display: flex;
	font-family: arcade;
	text-align: center;
	color: rgb(255, 0, 140);
	z-index: 90;
}

